<h1>
  Showing Selected Article
</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "List Articles", articles_path %> |

<%= link_to "Edit this Article", edit_article_path(@article) %>